.main-body {
  padding-top: 20px;
  max-width: 90%;
  margin: 0 auto;

  mat-form-field {
    width: 100%;
  }

  .table-container {
    width: 100%;
    overflow-x: auto;
    max-height: 60vh;
  }
}

.Aslin-dai {
  color: grey;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 2rem;
}